
.research-sidepane__wrapper{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.task-list-item {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.first-col {
  padding-top: 3rem !important;
  padding-left: 2rem !important;
}

.second-col{
  padding-top: 3rem !important;
}

.numbers__container{
  padding-left: 2rem !important;
}

.task-description{
  font-size: 1rem;
}

.progress-memo{
  line-height: 2;
  font-weight: 300 !important;
  padding-right: 1rem;
  font-size: 1.25rem;
}


.progress-memo2{
  line-height: 1.5;
  font-weight: 300 !important;
  padding-right: 1rem;
  font-size: 1.25rem;
}

.numbers-header{
  padding-left: 2rem;
}

.participantListActions__container{
  padding-left: .5rem;
}

.locationSummary{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 3rem;
}

.sidepaneHeader__container{
  position: relative;
  flex: 0;
}
.rowSpan{
  display: flex;
  flex-direction: row;
}

.tab__wrapper{
  // flex: 1 1 auto;
  // overflow-y: auto;
  // height: 0px;
  // padding: 1rem;
  padding-left: 14px;
  padding-right: 14px;
  height: 100%;
}

.cardHeader {
  height: fit-content !important;
}

.summary__container{
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileGrid{
  margin: 0px !important;
}