.overviewView__container {
  padding-top: 2rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  height: 100%;
}

.cardHeader{
  display: flex;
  flex-direction: column !important;
}

.overviewHeader {
  display: flex;
  flex-direction: column !important;
}

.overviewHeaderSubtitle {
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.overviewHeaderSubtitle {
  margin-bottom: 0.25rem;
}

.list-description {
  font-size: 1rem;
  padding: .5rem;
}

.logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}