.countyOverview__container{
    // height: 500px;
    // width: 500px;
}

.cardHeader {
    height: fit-content !important;
}

.overviewCard__content{
    min-height: 15rem;
    max-height: 15rem;
    overflow-y: auto;
}

.overviewCard__container{
    margin-bottom: 2rem !important;
}

.other{
    color: #cbd5e8 !important;
}

.vsda{
    color: #b3e2cd !important;
}

.dsanv{
    color: #fdcdac !important;
}

.dsanrv{
    color: #fff2ae !important;
}

.dsahr{
    color: #f4cae4 !important;
}

.dsar{
    color: #b3cde3 !important;
}