.countyOverview__container{
    // height: 500px;
    // width: 500px;
}

.cardHeader {
    height: fit-content !important;
}

.overviewCard{
    min-height: 15rem;
    max-height: 15rem;
    overflow-y: auto;
}